<html>
    <head>
        <title>Django Girls blog - Блог девушек Джанго</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog - Блог девушек Джанго</a></h1>
        </div>

        <div>
            <p>published - опубликованный: 14.06.2014, 12:14</p>
            <h2><a href="">My first post - Мой первый пост</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p>Энеан ес лео как. Пеллентеск орнаре сем лациния - завод-изготовитель. Donec id elit non mi porta gravida в эгет метус. Белок, развитие и промышленные предприятия, tortor mauris condimentum nibh, для того, чтобы заквасить массу, просто сидите и рисуйте.</p>

        </div>

        <div>
            <p>published - опубликованный: 14.06.2014, 12:14</p>
            <h2><a href="">My second post - Мой второй пост</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            <p>Энеан ес лео как. Пеллентеск орнаре сем лациния - завод-изготовитель. Donec id elit non mi porta gravida в эгет метус. Белок, развитие и промышленные предприятия, tortor mauris condimentum nibh, до f. </p>
        </div>
    </body>
</html>